<html>
    <head>
        <title>Django Girls blog</title> <!--Anzeige in Reiter über URL Leiste-->
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        {% for post in posts %}
         <div>
            <p>Published at: {{ post.published_date }}</p>  <!-- Durch die geschweiften Klammern wird in der Klasse nach dem Variablennamen (hier post.published_date) gesucht und dann der Inhalt-->
            <h2><a href="">{{ post.title }}</a></h2>        <!-- der Variable aus der Datenbank angezeigt-->
            <p>{{ post.text|linebreaksbr }}</p>
         </div>
        {% endfor %}
    </body>
</html>